.mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 100px;
  }
  
  .mywork-title {
    position: relative;
  }
  
  .mywork-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
  }
  
  .mywork-title img {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    z-index: -1;
  }
  
  .my-work-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 40px;
   
  }
  .my-work-container img{
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
  }
  .my-work-container img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
  }
  .my-work-showmore {
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
  }
  .my-work-showmore img
    {
        width: 35px;
        height: 35px;
    }
    .my-work-showmore:hover{
        gap: 30px;
        transition: 0.6s;
    }
 @media (max-width: 768px) {
    .mywork {
      gap: 50px;
align-items: start;
        margin: 50px 70px;
    }
    .mywork-title h1 {
        font-size: 50px;
        font-weight: 600;
        padding: 0px;
    }
    .mywork-title img{
      width: 130px;
      right: -20px;
    }
    .my-work-container {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .my-work-container img {
        width: 100%;
        height: 300px;
    }
    .my-work-showmore {
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
    .my-work-showmore img {
        width: 25px;
        height: 25px;
    }
  
 }